body
{
	font-family: sans-serif;
}
h1
{
	text-align: center;
	color: forestgreen;
	margin: 15px 0 15px	;
}
.gallery
{
	margin: 10px  100px;
}
.gallery img{
	width: 400px;
	height: 173px;
	padding: 20px;
	padding-right: 50px;
	filter: grayscale(0%);
	transition: 1s;
}
.gallery img:hover
{
filter: grayscale(0%);
	transform: scale(1.1);

}
